/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

body{
    background-color:#202945 ;
}
.primary-color{
    background-color: #202945;
    color: white;
}
#logo{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
#search-btn{
    background-color: white;
    color: #202945;
}

/* erroe btn  */
.Warning{
    display: none;
    position: relative;
}
#closeWarning{
    position: absolute;
    right: 10px;
}

/* card hover  */
.card{
    
    /* background-color: cadetblue; */
    padding: 15px;
    border-radius: 10px;
    transition: 1s;  
}
.card:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.card>img{
    transition: 0.5s;
    
}
.card>img:hover{
    cursor: pointer;
    transform: scale(1.1);
    padding-bottom: 20px;
}

#detailsContainer{
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    display: none;
}
td,th {
    border: 1px solid black;
    padding: 5px;

}
tr>td:nth-child(2) {
    padding-right: 100px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
@media screen and (max-width: 600px) {
    tr>td:nth-child(2) {
        padding-right: 10px;
    }  
}
/* spinner */
#spinner{
    color: white;
    display: none;
    margin-top: 100px;
}